In [59]:
import numpy as np
import pandas as pd

In [60]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [61]:
df = pd.read_csv('covid_toy.csv')

In [62]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [63]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [64]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['has_covid']),df['has_covid'],
                                                test_size=0.2)

In [65]:
X_train

    age  gender  fever   cough       city
65   69  Female  102.0    Mild  Bangalore
54   60  Female   99.0    Mild     Mumbai
39   50  Female  103.0    Mild    Kolkata
7    20  Female    NaN  Strong     Mumbai
36   38  Female  101.0    Mild  Bangalore
..  ...     ...    ...     ...        ...
72   83  Female  101.0    Mild    Kolkata
73   34    Male   98.0  Strong    Kolkata
66   51    Male  104.0    Mild    Kolkata
42   27    Male  100.0    Mild      Delhi
87   47    Male  101.0  Strong  Bangalore

[80 rows x 5 columns]

In [66]:
si = SimpleImputer()
X_train_fever = si.fit_transform(X_train[['fever']])

# also the test data
X_test_fever = si.fit_transform(X_test[['fever']])
                                 
X_train_fever

array([[102.        ],
       [ 99.        ],
       [103.        ],
       [100.78873239],
       [101.        ],
       [ 98.        ],
       [101.        ],
       [103.        ],
       [100.78873239],
       [104.        ],
       [ 99.        ],
       [ 98.        ],
       [ 98.        ],
       [101.        ],
       [102.        ],
       [ 98.        ],
       [100.78873239],
       [100.        ],
       [101.        ],
       [102.        ],
       [ 99.        ],
       [ 98.        ],
       [104.        ],
       [102.        ],
       [103.        ],
       [100.78873239],
       [ 98.        ],
       [ 98.        ],
       [100.78873239],
       [100.78873239],
       [ 99.        ],
       [100.        ],
       [101.        ],
       [100.78873239],
       [102.        ],
       [ 99.        ],
       [ 99.        ],
       [102.        ],
       [103.        ],
       [ 98.        ],
       [102.        ],
       [104.        ],
       [104.        ],
       [104.        ],
       [ 99.        ],
       [101.        ],
       [100.        ],
       [100.        ],
       [100.        ],
       [104.        ],
       [103.        ],
       [101.        ],
       [102.        ],
       [100.        ],
       [100.        ],
       [ 98.        ],
       [102.        ],
       [101.        ],
       [103.        ],
       [101.        ],
       [ 99.        ],
       [ 98.        ],
       [104.        ],
       [100.        ],
       [101.        ],
       [101.        ],
       [104.        ],
       [100.78873239],
       [104.        ],
       [ 99.        ],
       [100.        ],
       [100.78873239],
       [100.        ],
       [100.        ],
       [ 98.        ],
       [101.        ],
       [ 98.        ],
       [104.        ],
       [100.        ],
       [101.        ]])

In [67]:
oe = OrdinalEncoder(categories=[['Mild','Strong']])
X_train_cough = oe.fit_transform(X_train[['cough']])

# also the test data
X_test_cough = oe.fit_transform(X_test[['cough']])

X_train_cough.shape

(80, 1)

In [68]:
# OneHotEncoding -> gender,city
ohe = OneHotEncoder(drop='first',sparse_output=False)
X_train_gender_city = ohe.fit_transform(X_train[['gender','city']])

# also the test data
X_test_gender_city = ohe.fit_transform(X_test[['gender','city']])

X_train_gender_city.shape

(80, 4)

In [69]:
# Extracting Age
X_train_age = X_train.drop(columns=['gender','fever','cough','city']).values

# also the test data
X_test_age = X_test.drop(columns=['gender','fever','cough','city']).values

X_train_age.shape

(80, 1)

In [70]:
X_train_transformed = np.concatenate((X_train_age,X_train_fever,X_train_gender_city,X_train_cough),axis=1)
# also the test data
X_test_transformed = np.concatenate((X_test_age,X_test_fever,X_test_gender_city,X_test_cough),axis=1)

X_train_transformed.shape

(80, 7)

In [71]:
from sklearn.compose import ColumnTransformer

In [78]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['gender','city'])
],remainder='passthrough')

In [79]:
df = transformer.fit_transform(X_train)

In [80]:
df = pd.DataFrame(df)

In [84]:
X_train.head(5)

    age  gender  fever   cough       city
65   69  Female  102.0    Mild  Bangalore
54   60  Female   99.0    Mild     Mumbai
39   50  Female  103.0    Mild    Kolkata
7    20  Female    NaN  Strong     Mumbai
36   38  Female  101.0    Mild  Bangalore

In [85]:
df.head(5)

            0    1    2    3    4    5     6
0  102.000000  0.0  0.0  0.0  0.0  0.0  69.0
1   99.000000  0.0  0.0  0.0  0.0  1.0  60.0
2  103.000000  0.0  0.0  0.0  1.0  0.0  50.0
3  100.788732  1.0  0.0  0.0  0.0  1.0  20.0
4  101.000000  0.0  0.0  0.0  0.0  0.0  38.0