In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer, SimpleImputer
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [6]:
df = pd.read_csv("train.csv", usecols = ["Age", "Survived", "Fare"])

In [7]:
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [8]:
df.isnull().mean()

Survived    0.000000
Age         0.198653
Fare        0.000000
dtype: float64

In [46]:
X_train, X_test, y_trian, y_test = train_test_split(df.iloc[:,[1,2]], df['Survived'] , test_size = 0.2, random_state = 45)
X_train

      Age      Fare
332  38.0  153.4625
281  28.0    7.8542
147   9.0   34.3750
11   58.0   26.5500
405  34.0   21.0000
..    ...       ...
725  20.0    8.6625
607  27.0   30.5000
544  50.0  106.4250
643   NaN   56.4958
414  44.0    7.9250

[712 rows x 2 columns]

In [53]:
knn = KNNImputer(n_neighbors = 3, weights = 'distance')

In [54]:
X_train_trf = knn.fit_transform(X_train)

In [55]:
X_test_trf = knn.transform(X_test)

In [56]:
lr = LogisticRegression()

lr.fit(X_train_trf,y_trian)

y_pred = lr.predict(X_test_trf)

accuracy_score(y_test,y_pred)

0.6871508379888268

In [57]:

si = SimpleImputer()

X_train_trf2 = si.fit_transform(X_train)
X_test_trf2 = si.transform(X_test)

In [58]:
lr = LogisticRegression()

lr.fit(X_train_trf2,y_trian)

y_pred2 = lr.predict(X_test_trf2)

accuracy_score(y_test,y_pred2)

0.6759776536312849